
.appContainer {
  display: flex;
  min-height: 100vh;
}

.contentArea {
  flex-grow: 1;
  margin-left: 260px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

@media (max-width: 992px) {
  .contentArea {
    margin-left: 60px; 
  }
}